@media (max-width: 500px) {
  body {
    
    header, footer {
      padding: 10px;
    }
    
    header {
      text-align: center;
      
      h1 {
        
      }
      
      img {
        display: block;
        margin: 0px auto;
      }
      
      .button {
        display: block;
        margin: 0px auto;
      }
      
      #try {
        margin-bottom: 20px;
        
        .button {
          font-size: 2em;
          width: 100px;
        }
      }
      
      #buy {
        .button {
          display: block;
          line-height: 2em;
          width: 90px;
        }
      }
    }
    
    #content-wrapper {
      padding: 10px;
    }
  }
}