//font-family: 'Droid Sans', sans-serif;
//font-family: 'News Cycle', sans-serif;
//font-family: 'Lato', sans-serif;
//font-family: 'Signika Negative', sans-serif;
//font-family: 'Chivo', sans-serif;
//font-family: 'PT Sans Caption', sans-serif;
//font-family: 'Nobile', sans-serif;
//font-family: 'Maven Pro', sans-serif;
//font-family: 'Varela Round', sans-serif;

$droid-sans: 'Droid Sans', sans-serif;
$varela: 'Varela Round', sans-serif;

$sans-serif: $varela;
$serif: $georgia;
$light-border-color: #ddd;
$bright-blue: #31A3FF;
$beige: #F8F3DE;
$dark-cream: #515149;
$light-cream: lighten($dark-cream, 18%);

$fg-column: 65px;
$fg-gutter: 25px;
$fg-max-columns: 12;

$font-size-tiny: 11px;
$font-size-small: 12px;
$font-size-base: 16px;
$font-size-large: 20px;
$font-size-huge: 32px;