//font-family: 'Droid Sans', sans-serif;
//font-family: 'News Cycle', sans-serif;
//font-family: 'Lato', sans-serif;
//font-family: 'Signika Negative', sans-serif;
//font-family: 'Chivo', sans-serif;
//font-family: 'PT Sans Caption', sans-serif;
//font-family: 'Nobile', sans-serif;
//font-family: 'Maven Pro', sans-serif;
//font-family: 'Varela Round', sans-serif;

$droid-sans: 'Droid Sans', sans-serif;
$varela: 'Varela Round', sans-serif;

$sans-serif: $varela;
$serif: $georgia;