header {
  min-height: 230px;
  padding: 20px;

  div.header-wrap {
    margin: 0 auto;
    max-width: 1000px;

    img.logo-large {
      float: left;
      margin-right: flex-gutter();
      width: flex-grid(8);
    }

    div.call-to-action {
      float: left;
      width: flex-grid(4);

      a.button {
        @include button;
      }
    }
  }
}

div.content-wrapper {
  > section {
    clear: both;

    > div.section-wrap {
      margin: 0 auto;
      max-width: 1000px;
    }
  }

  section.main-copy {
    div.screenshot-scroller {
      float: left;
      margin-right: flex-gutter();
      width: flex-grid(4);
    }

    p.copy {
      float: left;
      width: flex-grid(8);
    }
  }

  section.features {
    div.section-wrap {
      section.feature {
        p.copy {
          float: left;
          margin-right: flex-gutter();
          width: flex-grid(8);
        }

        div.feature-title {
          float: left;
          width: flex-grid(4);
        }
      }
    }
  }
}